<header class="p-3 border-bottom">
    <div class="container d-flex align-items-center">
        <!-- Titel links -->
        <a href="/" class="d-flex align-items-center text-decoration-none">
            <div class="title">Formula 1 Stats</div>
        </a>

        <!-- Navigatie midden -->
        <ul class="nav">
            <li>
                <a
                    routerLink="/"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                    class="nav-link"
                >
                    Home
                </a>
            </li>
            <li>
                <a
                    routerLink="/drivers"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                    class="nav-link"
                >
                    Drivers
                </a>
            </li>
            <li>
                <a
                    routerLink="/constructors"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                    class="nav-link"
                >
                    Constructors
                </a>
            </li>
            <li>
                <a
                    routerLink="/users"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                    class="nav-link"
                >
                    Users
                </a>
            </li>
            <li>
                <a
                    routerLink="/about"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                    class="nav-link"
                >
                    About
                </a>
            </li>
        </ul>
    </div>
</header>
